{% extends 'blog/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <ul class="post-list">
        {% for post in posts %}
            <li>
                <div class="post-content">
                    <h2 class="post-title"><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
                    <p class="post-excerpt">{{ post.content|truncatewords:30 }}</p>
                </div>
                <div class="post-actions">
                    <a href="{% url 'post_update' post.pk %}" class="edit-btn">Edit</a>
                    <a href="{% url 'post_delete' post.pk %}" class="delete-btn">Delete</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% comment %} 
{% extends 'blog/base.html' %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Blogs</h1>
    <ul>
        {% for post in posts %}
            <li>
                <a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a>
                <a href="{% url 'post_update' post.pk %}">Edit</a>
                <a href="{% url 'post_delete' post.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %} {% endcomment %}